body {
    background-color: black;
}

.col-lg-6 {
color: white;
background-color: black;
padding-top: 140px;
}

.nav-link {
    color: white
}

nav a, h6  {
    color: white;
}

.material-icons {
    color: white;
}
h5, h5 a {
    color: yellow;
}

div.rounded {
padding-left: 10px;
color: black;
background-color: #404040;
}

div.post {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom-style: dotted;
    border-color: #484848;

}

div.comment {
    border-style: solid;
    border-color: #404040;
    padding: 10px;
}

footer {
    color: white;
    width: 100%;

    background-color: #484848;
}

.break-word {
      word-wrap: break-word;
   }

